* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.fondo {
  background-color: #ecdbdb; }

.navbar {
  background-color: #f7f5f5; }

.semi-titulo {
  display: flex;
  flex-direction: row;
  justify-self: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.titulo {
  width: 600px;
  height: 500px;
  border: 1px solid;
  border-radius: 10px solid;
  background-color: #e46868;
  text-align: center;
  box-shadow: 2px 0 5px 3px; }

.imagen, .imgg1 {
  width: 600px;
  height: 500px;
  box-shadow: 2px 0 5px 3px; }

.imgg1 {
  border-radius: 7px; }

.titulo2 {
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 10%; }

.titulo3 {
  text-align: center; }

.ofrecimiento {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px; }

.card {
  border-radius: 1px;
  background-color: #f7f5f5;
  box-shadow: 2px 2px 4px black; }

.img1, .img2, .img3, .img4, .img5 {
  border-radius: 1px solid;
  height: 300px;
  width: 288px; }

.titulo4 {
  text-align: center; }

.card-botox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 31.25rem; }
  .card-botox div {
    background-color: #f7f5f5; }

.card-body p {
  text-align: center; }

.card-body span {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .card-body span a {
    text-decoration: none;
    color: #0c0b0b; }

.imagen-footer {
  width: 20px;
  height: 20px; }

.titulo-footer {
  text-align: center; }

footer {
  margin-top: 30px;
  background-color: whitesmoke; }

@media (max-width: 27.1875rem) {
  .direccion-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .imgg1 {
    width: 500px;
    height: 500px; }
  .direccion-r p {
    font-size: 10px; }
  .semi-titulo {
    width: 100%; } }
