@media (max-width: 27.1875rem) {

    .direccion-r {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .imgg1{
    width: 500px;
    height: 500px;
    }
    .direccion-r p {
        font-size: 10px;
    }
    .semi-titulo {
        width: 100%;
    }
}

