@mixin flex($direction, $self, $justify, $wrap, $aling){
    display: flex;
    flex-direction: $direction;
    justify-self: $self;
    justify-content: $justify;
    flex-wrap: $wrap;
    align-items: $aling;
}

@mixin card($direction, $evenly, $center, $wrap){
display: flex;
flex-direction: $direction;
justify-content: $evenly;
justify-content: $center;
flex-wrap:$wrap;
}

